<div class="form-container bg">

    <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()" class="form">
        <img src="assets/images/amazon-white-logo.png" width="120px" height="40px" class="logo">
        <div class="form-header">
            <span class="form-title"> Sign up | Create an account</span>
            <span class="form-subtitle"> Register an account </span>
        </div>

        <div class="form-body">
            <div class="form-body-title title">
                <span>Please enter your details here</span>
            </div>

            <!-- start -->
            <div class="image-preview-container img-center">
                <ng-container *ngIf="user?.base64_files as base64_files">
                    <ng-container *ngIf="base64_files | keyvalue as filesMap">
                        <ng-container *ngFor="let element of filesMap">
                            <div class="position-relative">
                                <img [src]="'data:image/png;base64,' + element.value" [alt]="user?.name" width="200"
                                    height="200" class="img">
                                <i class="pi pi-times remove-button" (click)="onRemoveFile(element.key)"></i>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div class="align-center">
                <i class="pi pi-upload" (click)="triggerFileSelect(myFileInputId)"></i>
                <input #myFileInputId type="file" multiple (change)="onFileSelected($event)" class="display-none">
            </div>
            <!-- end -->
            <label for="name" class="form-control-title">Name</label>
            <div class="error-msg" *ngIf="submitted && registerUserForm.get('name')?.invalid">
                Name is required.
            </div>
            <input formControlName="name" type="text" class="form-control">

            <label for="first_name" class="form-control-title">First name</label>
            <input formControlName="first_name" type="text" class="form-control">

            <label for="last_name" class="form-control-title">Last name</label>
            <input formControlName="last_name" type="text" class="form-control">

            <label for="email" class="form-control-title">Email</label>
            <div class="error-msg" *ngIf="submitted && registerUserForm.get('email')?.invalid">
                Email is required.
            </div>
            <span class="error-msg" *ngIf="submitted && registerUserForm.get('email')?.errors?.['email']">
                Invalid email.
            </span>
            <input formControlName="email" type="email" class="form-control">


            <label for="phone_number" class="form-control-title">Phone number</label>
            <input formControlName="phone_number" type="text" class="form-control">

            <label for="gender" class="form-control-title">Gender</label>
            <select formControlName="gender" id="gender" class="form-control">
                <option *ngFor="let gen of genders" [value]="gen">{{ gen }}</option>
            </select>

            <label for="role" class="form-control-title">Role</label>
            <select formControlName="role" id="role" class="form-control">
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>

            <label for="language" class="form-control-title">Language</label>
            <select formControlName="language" id="language" class="form-control">
                <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
            </select>

            <label for="dob" class="form-control-title">DOB</label>
            <input formControlName="dob" type="date" class="form-control">

            <span class="group-title"><b>Address</b></span>

            <div formGroupName="address" class="no-div-style">

                <label for="street" class="form-control-title">Street</label>
                <input formControlName="street" type="text" class="form-control">

                <label for="city" class="form-control-title">City</label>
                <input formControlName="city" type="text" class="form-control">

                <label for="pincode" class="form-control-title">Pincode</label>
                <input formControlName="pincode" type="text" class="form-control">

            </div>
            <span class="group-title"><b>Credentials</b></span>
            <label for="user-name" class="form-control-title">User name</label>
            <div class="error-msg" *ngIf="submitted && registerUserForm.get('user_name')?.invalid">
                Username is required.
            </div>
            <input formControlName="user_name" type="text" class="form-control">

            <label for="password" class="form-control-title">Password</label>
            <div class="error-msg" *ngIf="submitted && registerUserForm.get('password')?.invalid">
                Password is required.
            </div>
            <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                styleClass="form-control p-password-field">
            </p-password>

            <div class="error-msg err" *ngIf="serverError">
                {{ serverError }}
            </div>
            <div class="form-footer">
                <button routerLink="/home" class="cancel-button">Cancel</button>
                <button type="submit" class="save-button"> Singup </button>
            </div>

        </div>
    </form>
</div>