<div class="login-container">
    <img src="assets/images/amazon-white-logo.png" width="120" height="40" routerLink="/home"><br>
    <div class="login-form">
        <div class="signin-title">
            Sign in
        </div>
        <form [formGroup]="loginUserForm" (ngSubmit)="loginUser()" class="form1">
            <div class="form-control1">
                <label>Enter user name or email</label>
                <input formControlName="user_name" type="text" class="control">
            </div>

            <div class="error-msg" *ngIf="submitted && loginUserForm.get('user_name')?.invalid">
                Username or email is required.
            </div>

            <div class="form-control1">
                <label>Enter user password</label>
                <input formControlName="password" type="password" class="control">
            </div>

            <div class="error-msg" *ngIf="submitted && loginUserForm.get('password')?.invalid">
                Password is required.
            </div>

            <!-- <div class="forgot-password"> Forgot password?</div> -->

            <div class="error-msg err" *ngIf="serverError">
                {{ serverError }}
            </div>

            <button type="submit" class="yellow-button login-button">Login</button>

            <div class="or">OR</div>

            <button type="button" class="yellow-button google-button login-with-google" (click)="loginWithGoogle()">
                <img src="assets/images/g-logo.png" width="18" height="18" alt="Google Logo">
                <span>Sign in with Google</span>
            </button>

            <div class="terms-and-conditions">By continuing, you agree to Amazon's <span class="blue-text">Conditions of
                    Use</span> and <span class="blue-text">Privacy Notice</span></div>
        </form>
    </div>
    <div class="hr-container">
        <hr class="hr-line">
        <span class="hr">New to Amazon?</span>
        <hr class="hr-line">
    </div>

    <div class="yellow-button sign-up" routerLink="/sign-up">
        Create your Amazon account
    </div>
</div>