@import '../common/form.css';
@import '../common/common.css';

.user-cotainer {
    background-color: #f8f8f8;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 10px;
}

.user {
    justify-content: center;
    width: 500px;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 15px;
}

.detail-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 4px;
    width: 50px;
}