@import '../common/form.css';
@import '../common/common.css';

.user-cotainer {
    background-color: #f8f8f8;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 10px;
}

.user {
    justify-content: center;
    width: 500px;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 15px;
}

.detail-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 4px;
    width: 50px;
}

.padding {
    padding: 30px;
}

.title {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-items: center;
}

.img {
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.field-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.field-title {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

.field-body {
    width: 50%;
}

.img-center {
    align-self: center;
}

.position-relative {
    position: relative;
}

.align-center {
    align-self: center;
}

.display-none {
    display: none;
}

.group-title {
    font-weight: bold;
    text-align: center;
}

.sign-out-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-out {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        color: black;

        &:hover {
            color: #c45500;
        }
    }
}

.text-center {
    text-align: center;
}

::ng-deep .p-password .p-inputtext {
    width: 100% !important;
    height: 30px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 0 8px !important;
    border: 1px solid grey !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
}

::ng-deep .p-password .p-inputtext:focus {
    border-color: #999 !important;
    outline: none !important;
    box-shadow: none !important;
    border: 1.9px solid black !important;
}

::ng-deep .p-inputtext.p-inputtext-focus {
    box-shadow: 1px solid black !important;
}

::ng-deep .p-password {
    width: 100% !important;
    margin: 0 !important;
}

::ng-deep .p-password .p-password-toggle-icon {
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 8px !important;
}