<!-- Read view  -->
<div [hidden]="isUpdate">
    <div class="form-container">
        <form [formGroup]="updatedUserForm" (ngSubmit)="updateUser()" class="form">

            <div class="form-header">
                <div class="sign-out-header">
                    <div class="form-title"> Your account </div>
                    <div class="sign-out"> <a href="#" (click)="logoutUser()">Sign Out </a>
                        <!-- <i class="pi pi-power-off"></i> -->
                    </div>
                </div>
                <span class="form-subtitle">These are user details </span>
            </div>

            <div class="form-body padding">
                <div class="form-body-title title">
                    <span></span>
                    <span (click)="isUpdate = !isUpdate" class="cursor">
                        <i class="pi pi-pencil"></i>
                        <span> Edit</span>
                    </span>
                </div>

                <div class="img-container img-center">
                    <ng-container *ngIf="user?.base64_files as base64_files">
                        <ng-container *ngIf="base64_files | keyvalue as filesMap">
                            <ng-container *ngFor="let element of filesMap">
                                <img [src]="'data:image/png;base64,' + element.value" [alt]="user?.name" width="200"
                                    height="200" class="img">
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="name">{{user.name | uppercase}}</div>

                <div class="field-container">
                    <div class="field-title">ID</div>
                    <div class="field-body">{{user.user_id}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Name</div>
                    <div class="field-body">{{user.name}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Firts name</div>
                    <div class="field-body">{{user.first_name}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Last name</div>
                    <div class="field-body">{{user.last_name}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Email</div>
                    <div class="field-body">{{user.email}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Phone number</div>
                    <div class="field-body">{{user.phone_number}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Gender</div>
                    <div class="field-body">{{user.gender}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Role</div>
                    <div class="field-body">{{user.role}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Language</div>
                    <div class="field-body">{{user.language}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">DOB</div>
                    <div class="field-body">{{user.dob | date:'yyyy-MM-dd'}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Street</div>
                    <div class="field-body">{{user?.address?.street}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">City</div>
                    <div class="field-body">{{user?.address?.city}}</div>
                </div>

                <div class="field-container">
                    <div class="field-title">Pincode</div>
                    <div class="field-body">{{user?.address?.pincode}}</div>
                </div>

                <!-- <b>Credentials:</b> -->
                <div class="field-container">
                    <div class="field-title">User name</div>
                    <div class="field-body">{{user.user_name}}</div>
                </div>

                <div class="field-container" [hidden]>
                    <div class="field-title">Password</div>
                    <div class="field-body">**********</div>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Edit view  -->
<!-- <div [hidden]="!isUpdate"> -->
<div *ngIf="isUpdate">
    <div class="form-container">
        <form [formGroup]="updatedUserForm" (ngSubmit)="updateUser()" class="form">
            <div class="form-header">
                <span class="form-title"> Your account </span>
                <span class="form-subtitle">Update the user details </span>
            </div>

            <div class="form-body">
                <div class="form-body-title title">
                    <span>Update user details here</span>
                </div>

                <!-- start -->
                <div class="image-preview-container img-center">
                    <ng-container *ngIf="user?.base64_files as base64_files">
                        <ng-container *ngIf="base64_files | keyvalue as filesMap">
                            <ng-container *ngFor="let element of filesMap">
                                <div class="position-relative">
                                    <img [src]="'data:image/png;base64,' + element.value" [alt]="user?.name" width="200"
                                        height="200" class="img">
                                    <i class="pi pi-times remove-button" (click)="onRemoveFile(element.key)"></i>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="align-center">
                    <i class="pi pi-upload" (click)="triggerFileSelect(myFileInputId)"></i>
                    <input #myFileInputId type="file" multiple (change)="onFileSelected($event)" class="display-none">
                </div>
                <!-- end -->

                <label for="user_id" class="form-control-title">Id</label>
                <input formControlName="user_id" type="text" class="form-control" readonly>

                <label for="name" class="form-control-title">Name</label>
                <div class="error-msg" *ngIf="submitted && updatedUserForm.get('name')?.invalid">
                    Name is required.
                </div>
                <input formControlName="name" type="text" class="form-control">

                <label for="first_name" class="form-control-title">First name</label>
                <input formControlName="first_name" type="text" class="form-control">

                <label for="last_name" class="form-control-title">Last name</label>
                <input formControlName="last_name" type="text" class="form-control">

                <label for="email" class="form-control-title">Email</label>
                <div class="error-msg" *ngIf="submitted && updatedUserForm.get('email')?.invalid">
                    Email is required.
                </div>
                <span class="error-msg" *ngIf="submitted && updatedUserForm.get('email')?.errors?.['email']">
                    Invalid email.
                </span>
                <input formControlName="email" type="email" class="form-control">

                <label for="phone_number" class="form-control-title">Phone number</label>
                <input formControlName="phone_number" type="text" class="form-control">

                <label for="gender" class="form-control-title">Gender</label>
                <select formControlName="gender" id="gender" class="form-control">
                    <!-- <option value="" disabled selected>Select gender</option> -->
                    <option *ngFor="let gen of genders" [value]="gen">{{ gen }}</option>
                </select>

                <label for="role" class="form-control-title">Role</label>
                <select formControlName="role" id="role" class="form-control">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>

                <label for="language" class="form-control-title">Language</label>
                <select formControlName="language" id="language" class="form-control">
                    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
                </select>

                <label for="dob" class="form-control-title">DOB</label>
                <input formControlName="dob" type="date" class="form-control">

                <span class="group-title">Address</span>

                <div formGroupName="address" class="no-div-style">

                    <label for="street" class="form-control-title">Street</label>
                    <input formControlName="street" type="text" class="form-control">

                    <label for="city" class="form-control-title">City</label>
                    <input formControlName="city" type="text" class="form-control">

                    <label for="pincode" class="form-control-title">Pincode</label>
                    <input formControlName="pincode" type="text" class="form-control">

                </div>

                <span class="group-title">Credentials</span>
                <label for="user-name" class="form-control-title">Username</label>
                <div class="error-msg" *ngIf="submitted && updatedUserForm.get('user_name')?.invalid">
                    Username is required.
                </div>
                <input formControlName="user_name" type="text" class="form-control">

                <label for="password" class="form-control-title">Password</label>
                <div class="error-msg" *ngIf="submitted && updatedUserForm.get('password')?.invalid">
                    Password is required.
                </div>
                <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                    styleClass="form-control p-password-field">
                </p-password>

                <div class="error-msg" *ngIf="serverError" class="text-center">
                    {{ serverError }}
                </div>
                <div class="form-footer">
                    <button (click)="isUpdate = !isUpdate" class="cancel-button" type="button">Cancel</button>
                    <button type="submit" class="save-button"> Update </button>
                </div>

            </div>
        </form>
    </div>
</div>