<!-- first menu -->
<div class="menu-one-container">
  <!-- logo -->
  <img src="assets/images/amazon.png" class="img hover cursor" routerLink="/home">

  <!-- delive to -->
  <div class="deliver-container hover">
    <div> <i class="pi pi-map-marker"></i> </div>
    <div class="address-details">
      <div class="user-name">Deliver to {{currentUser?.first_name.slice(0, 8)}}</div>
      <div class="address">{{currentUser?.address?.city.slice(0, 8)}}
        {{currentUser?.address?.pincode.slice(0, 6)}}</div>
    </div>
  </div>

  <!-- search box -->
  <div class="search-container" [ngClass]="{'search-focus':isSearchFocused}">
    <select class="search-category" (change)="filterByCategory($event)">
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>

    <input type="search" placeholder="Search Amazon" class="search-bar" (input)=onSearch($event)
      (focus)="isSearchFocused = true" (blur)="isSearchFocused = false">
    <button type="submit" class="search-icon"><i class="pi pi-search"></i></button>
  </div>

  <!-- remianing -->
  <div class="remaining">
    <div class="language hover cursor">
      <span routerLink="/preferences">Language</span>
    </div>
    <div class="returns-orders hover cursor">
      <span routerLink="/orders">Returns</span>
      <span class="orders">& Orders</span>

    </div>
    <div class="cart hover cursor" routerLink="/cart">
      <i class="pi pi-shopping-cart cart-count"></i>
      Cart({{cartCount}})
    </div>
    <div class="account-container hover">
      <a routerLink="/user" class="account">
        <i class="pi pi-user account-icon"></i>
        Account
      </a>
    </div>
  </div>
</div>
<!-- second menu -->
<div class="menu-two-container">
  <div (click)="toggleSideBar()"><i class="pi pi-bars"></i> All</div>
  <div class="hover"><a routerLink="/home">Home</a></div>
  <div class="hover"><a routerLink="/products">Products</a></div>
  <div class="hover"><a routerLink="/cart">Cart</a></div>
  <div class="hover"><a routerLink="/orders">Orders</a></div>
  <div class="hover"><a routerLink="/preferences">Preferences</a></div>
  <div class="hover"><a routerLink="/demo-mode">Demo mode</a></div>
  |
  <div *ngIf="preferences?.prime" class="hover"><a>Prime</a></div>
  <div *ngIf="preferences?.ai" class="hover"><a>Rufus AI</a></div>
  <div class="hover"><a>Sell</a></div>
  <div class="hover"><a>Admin</a></div>
  <div class="hover"><a>CustomerServie</a></div>

</div>

<!-- side bar -->
<p-sidebar [(visible)]="showSideBar">
  <div class="side-menu-container">
    <div class="heading">
      <i class="pi pi-user" class="user-icon"></i>
      <b class="user-name-size">Hello, {{currentUser?.name | uppercase}}</b>
    </div>
    <b>Digital Content & Devices</b>
    <a href="">aaa</a>
    <b>Shop by Department</b>
    <a href="">bbb</a>
    <b>Programs & Features</b>
    <a href="">ccc</a>
    <b>Help & Settings</b>
    <a href="">ddd</a>
  </div>
</p-sidebar>