.my-menu-bar {
  display: flex;
  gap: 5px;
  width: 100%;
  color: white;
  font-family: 'Arial';
  padding: 10px;
  height: 60px;
}

.my-menu-bar a {
  color: white !important;
}

.my-side-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
}

.my-side-bar a {
  color: black;
  text-decoration: none;
}

.my-hover {
  border: 1px;
  border-style: solid;
  border-color: transparent;
}

.my-hover:hover {
  border-color: white;
}


.search-focus {
  border: 3px solid;
  border-radius: 8px;
  border-color: orange;
}

input:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}