—---------—-----START—---------------------
version: '3.7'

services:

  # ---------------- MYSQL ----------------
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: amazon
      MYSQL_USER: amazon
      MYSQL_PASSWORD: amazon
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - microservice-network
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8085:80"
    networks:
      - microservice-network
    restart: unless-stopped

  # ---------------- RABBITMQ ----------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservice-network

  # ---------------- ZIPKIN ----------------
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - microservice-network

  # ---------------- SERVICE REGISTRY ----------------
  service-registry:
    image: dcode007/service-registry:latest
    container_name: service-registry
    ports:
      - "8761:8761"
    depends_on:
      - rabbitmq
      - zipkin
      - mysql
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  # ---------------- CONFIG SERVER ----------------
  config-server:
    image: dcode007/config-server:latest
    container_name: config-server
    ports:
      - "8080:8080"
    depends_on:
      - service-registry
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker	| application-docker.properties

  # ---------------- USER SERVICE ----------------
  user-service:
    image: dcode007/user-service:latest
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      - service-registry
      - config-server
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka

  # ---------------- PRODUCT SERVICE ----------------
  product-service:
    image: dcode007/product-service:latest
    container_name: product-service
    ports:
      - "8082:8082"
    depends_on:
      - service-registry
      - config-server
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka

  # ---------------- PAYMENT SERVICE ----------------
  payment-service:
    image: dcode007/payment-service:latest
    container_name: payment-service
    ports:
      - "8083:8083"
    depends_on:
      - service-registry
      - config-server
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka

  # ---------------- ORDER SERVICE ----------------
  order-service:
    image: dcode007/order-service:latest
    container_name: order-service
    ports:
      - "8084:8084"
    depends_on:
      - service-registry
      - config-server
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka

  # ---------------- API GATEWAY ----------------
  gateway-service:
    image: dcode007/gateway-service:latest
    container_name: gateway-service
    ports:
      - "8086:8084"
    depends_on:
      - service-registry
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka

# ---------------- NETWORKS ----------------
networks:
  microservice-network:
    driver: bridge

# ---------------- VOLUMES ----------------
volumes:
  mysql:
—---------—-----END—---------------------

