@import '../common/form.css';

.preference-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #f8f8f8;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
}

.preference {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.preference-title {
    display: flex;
    flex: 0 0 150px;
    justify-content: flex-end;
    font-weight: bold;
}

.preference-body {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}