<div class="container">

    <!-- title -->
    <div class="header">
        <div class="header-title">
            <span class="form-title">Shopping Cart</span>
            <button *ngIf="!selectAllActive" (click)="deselectAll()" class="link-button">Deselect all items</button>
            <button *ngIf="selectAllActive" (click)="selectAll()" class="link-button">Select all items</button>
        </div>
        <div><button type="button" routerLink="/order" class="yellow-button" [disabled]="!hasActiveItems">Proceed to
                Buy</button></div>
    </div>
    <span class="price-font">Price</span>
    <hr>

    <!-- cart items -->
    <ng-container *ngFor="let product of products">
        <div class="cart-item">
            <div class="cart-checkbox">
                <input type="checkbox" [checked]="product.status === Status.Active"
                    (change)="changeStatus(product.id!, $any($event.target).checked)">
            </div>
            <div class="cart-img">
                <ng-container *ngIf="product?.base64_files | keyvalue as filesArray">
                    <ng-container *ngIf="filesArray.length > 0">
                        <img [src]="'data:image/png;base64,' + filesArray[0].value" [alt]="product?.name" width="180px"
                            height="180px" class="img" />
                    </ng-container>
                </ng-container>
            </div>

            <div class="item-details">
                <div class="item-name">{{product.name?.slice(0, 200)}}</div>
                <div class="in-stock">In stock</div>
                <div class="free-shipping">Eligible for FREE Shipping</div>
                <div class="limited-deal"> Limited time deal</div>
                <div class="discount">Up to 5% back with Amazon Pay ICICI card</div>

                <div class="cart-count">
                    <div class="counter">
                        <div><i class="pi pi-minus change-count" (click)="decreaseCount(product.id!)"></i></div>
                        <div><span class="count">{{product.cart_count}}</span></div>
                        <div><i class="pi pi-plus change-count" (click)="increaseCount(product.id!)"></i></div>
                    </div>
                    <button class="link-button" (click)="deleteFromCart(product.id!)">Delete</button>
                </div>
            </div>

            <div class="cart-detail">
                {{product.product_id}}
            </div>

            <div class="cart-detail">
                {{product.price * product.cart_count | currency:'INR'}}
            </div>

        </div>
        <hr>
    </ng-container>
</div>