@import '../common/form.css';

hr {
    border-color: #F0F0F0;
}

.container {
    background-color: white;
    padding: 25px;
}

.header {
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: initial;
}

.price-font {
    display: block;
    text-align: right;
    color: grey;
    padding-right: 62px;
    font-size: 15px;
}

.cart-item {
    height: 200px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.cart-checkbox {
    flex: 5;
    align-content: center;
}

.cart-img {
    flex: 15;
    object-fit: contain;
}

.img {
    object-fit: contain;
}

.item-details {
    display: flex;
    flex: 50;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    font-size: 19px;
}

.in-stock {
    color: #0b7b3c;
    font-size: 12px;
}

.free-shipping {
    font-size: 12px;
}

.limited-deal {
    background-color: #cc0c39;
    color: white;
    font-size: 12px;
    padding: 4px;
    width: fit-content;
    margin: 6px;
    margin-left: 0;
}

.discount {
    font-size: 12px;
}

.cart-count {
    display: flex;
    gap: 10px;
    align-self: flex-start;
    margin-top: 8px;
}

.counter {
    display: flex;
    border: 3px solid;
    border-color: #ffd814;
    border-radius: 15px;
    gap: 8px;
    width: 100px;
    height: 24px;
    align-items: center;
    box-sizing: content-box;
    justify-content: center;
    gap: 22px;
    cursor: pointer;
}

.change-count {
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

.count {
    font-size: 15px;
    font-weight: bold;
}

.cart-detail {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.yellow-button:disabled {
    background-color: #e2e2e2;
    color: #999;
    cursor: not-allowed;
}
