.my-backToTop{
    background-color: #37475a; 
    width: 100%; cursor: pointer;
    text-align: center;
    color: white;
    padding: 10px;
}

.my-backToTop:hover{
background-color: #485769;
}

.my-hyperlink a{
color: white;
text-decoration: none;
}

.my-hyperlink:hover{
    color: white;
}