<!-- add product -->
 <div style="display: flex; flex-direction: row; justify-content: right; margin: 10px;">
<button style="background-color: white; border-radius: 7px; border-color: #ccc; border-style: solid;
padding: 5px 8px; cursor: pointer"
routerLink="/addProduct">
    Add a product
</button>
</div>

<div style="font-weight: bold;">
    In total there are {{products ? total : 0 }} products.
</div>
<br>
<!-- list all products -->
<p-table [value]="products" [tableStyle]="{'min-width': '60rem'}" 
[paginator]="true" [rows]="10"
[rows]="10"
[totalRecords]="total"
[lazy]="true"
(onLazyLoad)="loadProducts($event)"
[loading]="loading"
>        
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Images</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr (click)="showProduct(product.id)">
            <td>{{product.product_id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:'INR'}}</td>
            <td>
            <ng-container *ngIf="product?.base64_files | keyvalue as filesArray">
                <ng-container *ngIf="filesArray.length > 0">
                 <img [src]="'data:image/png;base64,' + filesArray[0].value" [alt]="product?.name" width="70" height="40"/>
                </ng-container>
            </ng-container>
            </td>
            <td style="display: flex; gap: 20px;">
                <i class="pi pi-pencil" (click)="showProduct(product.id)"></i>
                <i class="pi pi-trash" (click) = "deleteProduct(product.id)"></i>
            </td>
        </tr>
    </ng-template>
</p-table>
