<!-- add product -->
 <div style="display: flex; flex-direction: row; justify-content: right; margin: 10px;">
<button style="background-color: white; border-radius: 7px; border-color: #ccc; border-style: solid;
padding: 5px 8px; cursor: pointer"
routerLink="/addProduct">
    Add a product
</button>
</div>

<!-- list all products -->
<p-table [value]="products" [tableStyle]="{'min-width': '60rem'}"
[paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>images</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.product_id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:'USD'}}</td>
            <td><img *ngIf="product.base64_files?.length>0"
                [src]="'data:image/png;base64,'+product.files[0]" [alt]="product.name" width="100" class="shadow-4" />
            <!-- <a [href]="'data:image/png;base64,' + product.base64_files[0]" 
                    [download]="product.name + '.png'" > Click to Download File </a> -->
            <td style="display: flex; gap: 20px;">
                <i class="pi pi-pencil"></i><i class="pi pi-trash"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
