@import '../common/form.css';
@import '../common/common.css';

.order-container {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 20px;
}

.order-card {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 30px;
    flex-direction: column;
    align-content: space-between;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}