input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.link-button {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #2162a1;
  text-align: left;
}

.link-button:hover {
  text-decoration: underline;
}

.yellow-button {
  padding: 10px;
  color: black;
  background-color: #ffd814;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.full-page app-menu,
.full-page app-footer {
  display: none !important;
}

.error-msg {
  color: #CC0C39;
  font-size: 14px;
}

.err {
  text-align: center;
  margin-top: 10px;
}

.no-div-style {
  display: contents;
}

.full-page {
  min-height: 60vh;
}