<div class="form-container">
    <form [formGroup]="updatedProductForm" (ngSubmit)="updateProduct()" class="form">

        <div class="form-header">
            <span class="form-title"> Edit product here </span>
            <span class="form-subtitle">You can edit product here and see in listing page </span>
        </div>

        <div class="form-body">
            <div class="form-body-title">
                <span>Update the product details</span>
                <span class="delete-icon" (click)="deleteProduct(id)">
                    <i class="pi pi-trash"></i>
                    <span>Delete</span>
                </span>
            </div>

            <label for="product_id" class="form-control-title">Id</label>
            <input formControlName="product_id" type="text" class="form-control" readonly>

            <label for="name" class="form-control-title">Name</label>
            <input formControlName="name" type="text" class="form-control">

            <label for="price" class="form-control-title">Price</label>
            <input formControlName="price" type="number" class="form-control">

            <label for="count" class="form-control-title">Count</label>
            <input formControlName="count" type="number" class="form-control">

            <label for="category" class="form-control-title">Category</label>
            <select formControlName="category" id="category" class="form-control">
                <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
            </select>

            <!-- images start -->
            <label for="images" class="form-control-title">Images</label>
            <div class="image-preview-container">
                <ng-container *ngIf="product?.base64_files as base64_files">
                    <ng-container *ngIf="base64_files | keyvalue as filesMap">
                        <ng-container *ngFor="let element of filesMap">
                            <div class="position-relative">
                                <img [src]="'data:image/png;base64,' + element.value" [alt]="product?.name" width="100"
                                    height="70" class="img">
                                <i class="pi pi-times remove-button" (click)="onRemoveFile(element.key)"></i>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <i class="pi pi-plus cursor-pointer" (click)="triggerFileSelect(myFileInputId)"></i>
            <input #myFileInputId type="file" multiple (change)="onFileSelected($event)" class="display-none">
            <!-- images end -->

            <div class="form-footer">
                <button routerLink="/products" class="cancel-button">Cancel</button>
                <button type="submit" class="save-button"> Update </button>
            </div>

        </div>
    </form>
</div>