<div class="container">
    <div class="img">
        <ng-container *ngIf="product?.base64_files | keyvalue as filesArray;">
            <ng-container *ngIf="filesArray.length > 0">
                <img [src]="'data:image/png;base64,' + filesArray[0].value" class="img">
            </ng-container>
        </ng-container>
    </div>
    <div class="left-margin">
        <div class="heading">{{product.name}}</div>
        <div class="sub-heading">About this item</div>
        <div> • Designed to offer quality, durability, and value for everyday use.</div>
        <div> • Suitable for personal use or gifting on any occasion</div>
        <div class="detail-card">
            <div class="detail-heading padding-top">
                <div class="detail-content">Product ID:</div>
                <div>{{product.product_id}}</div>
            </div>
            <div class="detail-heading">
                <div class="detail-content">Product Category:</div>
                <div>{{product.category}}</div>
            </div>
            <div class="detail-price">{{product.price | currency:'INR'}}</div>
        </div>
        <div class="options-container">
            <ng-container *ngIf="product?.cart_count > 0; else addToCartTemplate">
                <div class="cart-count">
                    <div class="counter">
                        <div><i class="pi pi-minus change-count" (click)="decreaseCount(product.id!)"></i></div>
                        <div><span class="count">{{product.cart_count}}</span></div>
                        <div><i class="pi pi-plus change-count" (click)="increaseCount(product.id!)"></i></div>
                    </div>
                    <button class="link-button" (click)="deleteFromCart(product.id!)">Delete</button>
                </div>
            </ng-container>
            <ng-template #addToCartTemplate>
                <button class="button button-add-to-cart" (click)="addToCart(product.id)">
                    Add to Cart</button>
            </ng-template>
            <ng-container *ngIf="product?.count > 0; else outOfStock">
                <button class="button button-buy-now" (click)="byNow(product.id)" routerLink="/order">
                    Buy Now</button>
            </ng-container>
            <ng-template #outOfStock>
                <button class="button button-out-of-stock">
                    Temporarily out of stock.</button>
            </ng-template>

        </div>
    </div>
</div>