<div class="full-page">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="demo">
        <label>This will create a sample data of Products, Cart, Orders</label>
        <button type="button" (click)="confirmDumpData()" class="save-button button">Dump data</button>
        <br>
        <label>This will clears everything in database (Products, Cart, Orders) | Only data</label>
        <button type="button" (click)="confirmClearData()" class="cancel-button button">Clear data</button>
    </div>
</div>