:host{
  margin: 20px;
}

.my-card{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 300px;
  height: 480px;
  border: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  gap: 2px;
}



/*start - add to cart animation*/
.order-success {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    animation: fadeInOut 5s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.8);
    }

    15% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.05);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -40%) scale(0.8);
    }
}

.order-btn {
    background-color: hwb(189 7% 47%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.order-btn:hover {
    background-color: hwb(189 7% 47%);
}
/*end - add to cart animation*/
