<div style="display: flex; gap: 10px;">
    <div style="background-color: #f8f8f8; width: 300px; padding: 15px;">

        <b>Category</b><br>
        <div *ngFor="let cat of categories">
            <input type="checkbox" [value]="cat" (change)="onCategoryChange($event)" /> {{ cat }}
        </div><br>

        <b>Color</b><br>
        <input type="checkbox"> Red<br>
        <input type="checkbox"> Blue<br>
        <input type="checkbox"> Green<br>
        <br>
        <b>Style</b><br>
        <input type="checkbox"> New<br>
        <input type="checkbox"> Old<br>
        <br>
        <b>Brands</b><br>
        <input type="checkbox"> American tourister<br>
        <input type="checkbox"> Nike<br>
        <br>
        <b>Design</b><br>
        <input type="checkbox"> Classic<br>
        <input type="checkbox"> Vintage<br>
        <br>
        <b>Length</b><br>
        <input type="checkbox"> 5m<br>
        <input type="checkbox"> 10m <br>
        <input type="checkbox"> 20m <br>
        <br>
        <b>Weight</b><br>
        <input type="checkbox"> 2kg<br>
        <input type="checkbox"> 5kg <br>
        <input type="checkbox"> 10kg<br>
        <br>
        <b>Material</b><br>
        <input type="checkbox"> Plastic<br>
        <input type="checkbox"> Iron<br>
        <input type="checkbox"> Aluminium<br>
        <br>
        <b>Warranty type</b><br>
        <input type="checkbox"> Lifetime<br>
        <input type="checkbox"> Limited<br>
        <br>
        <b>Uses</b><br>
        <input type="checkbox"> General<br>
        <input type="checkbox"> Commercial<br>
        <br>
        <b>Age range</b><br>
        <input type="checkbox"> Under 5y<br>
        <input type="checkbox"> 5y - 20y<br>
        <input type="checkbox"> Above 20y<br>
        <br>
        <b>Gender</b><br>
        <input type="checkbox"> Male<br>
        <input type="checkbox"> Female<br>
        <br>
        <b>Condition</b><br>
        <input type="checkbox"> New <br>
        <input type="checkbox"> Used/Refurbished <br>
    </div>

    <div (scroll)="onScroll($event)" style="flex: 1; overflow-y: auto; height: 100vh; scrollbar-width: none;">
        <div style="flex: 1; display: grid; gap: 10px; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))">
            <ng-container *ngFor="let product of products">
                <div class="my-card">
                    <div [routerLink]="['/product-detail', product.id]"
                        style="cursor: pointer; display: flex; justify-content: center;">
                        <ng-container *ngIf="product?.base64_files | keyvalue as filesArray; else sampleImage">
                            <ng-container *ngIf="filesArray.length > 0">
                                <img [src]="'data:image/png;base64,' + filesArray[0].value"
                                    style="width: 255px; height: 255px; object-fit: contain;">
                            </ng-container>
                        </ng-container>
                        <ng-template #sampleImage>
                            <img src="assets/images/selfie.png" style="width: 300px; height: 320px;">
                        </ng-template>
                    </div>
                    <div [routerLink]="['/product-detail', product.id]" class="my-hover">
                        <!-- <a [routerLink]="['/product-detail', product.id]"> -->
                        {{product.name?.slice(0, 95)}}
                        <!-- </a> -->
                        <!-- PANDAFLY White Gel Pens, 0.8mm Extra Fine Point Opaque Archival Ink Pen for Journaling, Art, or Drawing - For Artist Gifts, Holiday Gifts & DIY -->
                    </div>

                    <div>
                        <div style="color:#ff6200;">
                            <span style="color: black;">4.0 </span>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star"></i>
                        </div>

                    </div>
                    <div style="display: flex; gap: 2px;">
                        <div style="font-size: 15px; margin-top: 3px;">₹</div>
                        <div style="font-size: 25px;"> {{product.price}}</div>
                        <div
                            style="font-size: 15px; color: #565959; align-self: flex-end; margin-left: 2px; margin-bottom: 3px;">
                            M.R.P: <s>{{(product.price*1.3333) | currency:'INR'}}</s> (25% off)</div>
                    </div>
                    <div style="color: #565959; font-size: 13px;">Up to 5% back with Amazon Pay ...</div>
                    <div style="font-size: 13px">FREE delivery on items over ₹499 </div>
                    <!-- <div> Fulfilled by Amazon</div> -->

                    <div style="display: flex; flex-direction: column; gap: 8px; margin: 3px; width: 100%; margin-top: auto;">
                        <button
                            style="padding: 10px; color: black; background-color: #ffd814; border: none; border-radius: 20px; "
                            (click)="addToCart(product.id)">
                            Add to Cart</button>
                        <ng-container *ngIf="product.count > 0; else outOfStock">
                            <button
                                style="padding: 10px; color: black; background-color: #ffa41c; border: none; border-radius: 20px;"
                                (click)="byNow(product.id)" routerLink="/order">
                                Buy Now</button>
                        </ng-container>
                        <ng-template #outOfStock>
                            <b style="color: red;"> Temporarily out of stock </b>
                        </ng-template>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="loading">
                <b>Loading....</b>
            </ng-container>

            <ng-container *ngIf="allLoaded">
                <b>Reached end of products....</b>
            </ng-container>

        </div>
    </div>

</div>



<div class="order-success" *ngIf="showAnimation">
    Product added to cart!
</div>