<div class="home-container">
    <div class="side-bar">

        <b>Category</b><br>
        <div *ngFor="let cat of categories">
            <input type="checkbox" [value]="cat" (change)="onCategoryChange($event)" /> {{ cat }}
        </div><br>

        <b>Color</b><br>
        <input type="checkbox"> Red<br>
        <input type="checkbox"> Blue<br>
        <input type="checkbox"> Green<br>
        <br>
        <b>Style</b><br>
        <input type="checkbox"> New<br>
        <input type="checkbox"> Old<br>
        <br>
        <b>Brands</b><br>
        <input type="checkbox"> American tourister<br>
        <input type="checkbox"> Nike<br>
        <br>
        <b>Design</b><br>
        <input type="checkbox"> Classic<br>
        <input type="checkbox"> Vintage<br>
        <br>
        <b>Length</b><br>
        <input type="checkbox"> 5m<br>
        <input type="checkbox"> 10m <br>
        <input type="checkbox"> 20m <br>
        <br>
        <b>Weight</b><br>
        <input type="checkbox"> 2kg<br>
        <input type="checkbox"> 5kg <br>
        <input type="checkbox"> 10kg<br>
        <br>
        <b>Material</b><br>
        <input type="checkbox"> Plastic<br>
        <input type="checkbox"> Iron<br>
        <input type="checkbox"> Aluminium<br>
        <br>
        <b>Warranty type</b><br>
        <input type="checkbox"> Lifetime<br>
        <input type="checkbox"> Limited<br>
        <br>
        <b>Uses</b><br>
        <input type="checkbox"> General<br>
        <input type="checkbox"> Commercial<br>
        <br>
        <b>Age range</b><br>
        <input type="checkbox"> Under 5y<br>
        <input type="checkbox"> 5y - 20y<br>
        <input type="checkbox"> Above 20y<br>
        <br>
        <b>Gender</b><br>
        <input type="checkbox"> Male<br>
        <input type="checkbox"> Female<br>
        <br>
        <b>Condition</b><br>
        <input type="checkbox"> New <br>
        <input type="checkbox"> Used/Refurbished <br>
    </div>

    <div (scroll)="onScroll($event)" class="scroll">
        <div class="scroll-container">
            <ng-container *ngFor="let product of products">
                <div class="card">
                    <div [routerLink]="['/product-detail', product.id]" class="details-container">
                        <ng-container *ngIf="product?.base64_files | keyvalue as filesArray; else sampleImage">
                            <ng-container *ngIf="filesArray.length > 0">
                                <img [src]="'data:image/png;base64,' + filesArray[0].value" class="img">
                            </ng-container>
                        </ng-container>
                        <ng-template #sampleImage>
                            <img src="assets/images/selfie.png" width="255px" height="255px">
                        </ng-template>
                    </div>
                    <div [routerLink]="['/product-detail', product.id]" class="hover">
                        {{product.name?.slice(0, 95)}}
                    </div>

                    <div>
                        <div class="ratings">
                            <span class="rating">4.0 </span>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star"></i>
                        </div>

                    </div>
                    <div class="details">
                        <div class="currency">₹</div>
                        <div class="price"> {{product.price}}</div>
                        <div class="discount"> M.R.P: <s>{{(product.price*1.3333) | currency:'INR'}}</s> (25% off)</div>
                    </div>
                    <div class="offer">Up to 5% back with Amazon Pay ...</div>
                    <div class="free-delivery">FREE delivery on items over ₹499 </div>
                    <!-- <div> Fulfilled by Amazon</div> -->
                    <div class="buttons-group">
                        <ng-container *ngIf="product?.cart_count > 0; else addToCartTemplate">
                            <div class="cart-count">
                                <div class="counter">
                                    <div><i class="pi pi-minus change-count" (click)="decreaseCount(product.id!)"></i>
                                    </div>
                                    <div><span class="count">{{product.cart_count}}</span></div>
                                    <div><i class="pi pi-plus change-count" (click)="increaseCount(product.id!)"></i>
                                    </div>
                                </div>
                                <button class="link-button" (click)="deleteFromCart(product.id!)">Delete</button>
                            </div>
                        </ng-container>
                        <ng-template #addToCartTemplate>
                                <button class="button add-to-cart" (click)="addToCart(product.id)">
                                    Add to Cart</button>
                        </ng-template>
                        <ng-container *ngIf="product.count > 0; else outOfStock">
                            <button class="button buy-now" (click)="byNow(product.id)" routerLink="/order">
                                Buy Now</button>
                        </ng-container>
                        <ng-template #outOfStock>
                            <button class="out-of-stock">
                                Temporarily out of stock.</button>
                        </ng-template>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="loading">
                <b>Loading....</b>
            </ng-container>

            <ng-container *ngIf="allLoaded">
                <b>Reached end of products....</b>
            </ng-container>

        </div>
    </div>

</div>



<div class="order-success" *ngIf="showAnimation">
    Product added to cart!
</div>